body{
    background-color:black;
    color:azure;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:3rem;
}

.content{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.content-add-item{
   display:flex;
   align-items:center;
   gap:1rem;
   flex-wrap:wrap;
}

#input-new-task,
#bnt-new-task{
    border: none;
    font-size: 1rem;
    padding: 1rem;
}

#input-new-task{
   width: 20rem;
   border-radius: 1rem;

}

#bnt-new-task{
    background-color: dimgrey;
    color: azure;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 4.s;
}

#bnt-new-task:hover{
    background-color: lightslategrey;
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    

}

#to-do-list li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#to-do-list li:hover{
    background-color: rgb(80, 79, 79);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;

}

#bnt-ok
{
    background-color: rgb(100, 192, 9);
    border: none;
    color: rgb(244, 238, 238);
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
}

#bnt-ok:hover{
    background-color: rgba(71, 134, 9, 0.8);
}